@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");

:root {
  --color-green: #0db57b;
  --color-grayE7: #e7e7e7;
  --color-white: #ffffff;
  --color-dark: #333333;
  --color-gray80: #808080;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-grayE7);
  margin: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  color: var(--color-dark);
}

body.open-mobile-menu {
  overflow: hidden;
  height: 100%;
  position: fixed;
}

section {
  margin-bottom: 100px;
}

.container {
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media screen and (max-width: 1023) {
}

@media screen and (max-width: 767px) {
}

a {
  cursor: pointer;
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
  display: inline-block;
}

img {
  object-fit: cover;
  display: block;
}

a.underline {
  padding-bottom: 4px;
  overflow: hidden;
}

a.underline::before {
  content: "";
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 100%;
  height: 1px;
  transition: transform 0.5s;
  background: var(--color-white);
  transform: translateX(-100%);
}

.hover a.underline:hover::before {
  transform: translateX(2px);
}

.uppercase {
  text-transform: uppercase;
}

.icon-glyphter {
  font-family: "Glyphter";
  text-transform: none;
  font-size: 17px;
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  transition: all 0.3s;
}

.color-green {
  color: var(--color-green);
}

.mb-45 {
  margin-bottom: 45px;
}

.bg-white {
  background-color: var(--color-white);
}

.text-rigth {
  text-align: right;
}

.text-left {
  text-align: left;
}

.block-shadow {
  box-shadow: 0px 3px 7px 0px #a8a8a8;
}

.text-center {
  text-align: center;
}

.bg-block-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 465px;
  background-color: var(--color-green);
}

h1,
.h1 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
}

h2,
.h2 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 5px;
}

h4,
.h4 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

small {
  font-size: 14px;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  margin: 20px 0 80px;
}

header h1 {
  margin-bottom: 0;
}

nav {
  margin-left: -10px;
  margin-right: -10px;
}

nav ul {
  padding: 0;
  display: flex;
  list-style: none;
}

.hamburger {
  font: inherit;
  overflow: visible;
  margin: 0;
  padding: 8px 15px 3px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger-box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 24px;
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
  width: 22px;
}
.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger-inner:before {
  top: -10px;
}
.hamburger-inner:after {
  bottom: -10px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  background-color: #fff;
}
.hamburger-inner:before {
  width: 30px;
}
.hamburger-inner:after {
  width: 22px;
  right: -8px;
}
.hamburger-slider .hamburger-inner {
  top: 2px;
}
.hamburger-slider .hamburger-inner:after {
  top: 20px;
}
.hamburger-slider .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform, opacity;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #fff;
}
.hamburger-slider.is-active .hamburger-inner {
  transform: translate3d(2px, 11px, 0) rotate(45deg);
  width: 26px;
}
.hamburger-slider.is-active .hamburger-inner:before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger-slider.is-active .hamburger-inner:after {
  width: 26px;
  transform: translate3d(-8px, -20px, 0px) rotate(-90deg);
}

.hamburger {
  display: none;
}

nav ul li {
  padding: 10px 10px 0;
}

.logo-name {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
}

.logo-name-surname {
  padding-left: 50px;
  margin-top: -10px;
}

@media screen and (max-width: 767px) {
  header.open-mobile nav {
    left: 0;
  }

  .hamburger {
    z-index: 333;
    cursor: pointer;
    position: relative;
    display: block;
  }

  nav {
    transition: all 0.5s;
    padding: 0;
    position: absolute;
    top: 0;
    left: 101%;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 100;
    margin: 0;
  }

  nav .item {
    padding: 0 15px;
  }

  nav ul li {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    justify-content: center;
  }
}

.about {
  display: flex;
  align-items: stretch;
}

.about .block-image {
  margin: 0;
}

.avatar {
  min-height: 400px;
  min-width: 360px;
  height: 100%;
}

.about .information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.information .regular {
  font-weight: 400;
}

.about h1 {
  margin-bottom: 0;
}

.about .block-top {
  background-color: var(--color-white);
  flex: 1;
  padding: 30px;
}

.about .block-bottom {
  background-color: var(--color-green);
  color: var(--color-white);
}

.decor-as-speech {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 9px 15px;
  display: inline-block;
  box-shadow: 0px 3px 7px 0px #a8a8a8;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 18px 15px;
}

.social li {
  flex: 1;
  text-align: center;
}

.social .link {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social .icon {
  font-size: 24px;
}

.social .vk .icon {
  font-size: 29px;
}

.hover .social .link:hover .icon {
  color: var(--color-gray80);
}

.contacts {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.contacts .fixed-width {
  min-width: 100px;
  display: inline-block;
}

.contacts li {
  padding-top: 7px;
  padding-bottom: 7px;
}

.contacts li:last-child {
  padding-bottom: 0;
}

.two-column {
  display: flex;
  flex-flow: row wrap;
  padding: 50px 35px;
}

.two-column .item {
  padding: 0 15px;
  flex: 1;
}
